/* Define color variables */
* {
    --background-color: black;;
    --text-color: lightgray;
    --section-background-color: white;
    --section-text-color: black;
}

/* body */
body 
{
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*product */
.product-card 
{
    display: flex;
    width: 800px;
    height: 500px;
    background-color: var(--section-background-color);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 120px;
}



.left-img-col img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-info-col 
{
    padding: 20px;
    width: 50%;
    background-color: var(--section-background-color);
    color: var(--section-text-color);
}

.right-info-col h3 
{
    font-size: 32px;
    color: var(--section-text-color);
    margin-bottom: 15px;
}

.right-info-col h5 
{
    font-size: 18px;
    color: var(--section-text-color);
    margin-bottom: 20px;
}

.right-info-col p 
{
    font-size: 14px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.available-colors 
{
    padding: 20px;
    margin-bottom: 20px;
    color: var(--section-text-color);
}

.available-colors span 
{
    font-size: 14px;
    margin-right: 10px;
    color: var(--section-text-color);
}

.black-color-container, .red-color-container, .beige-color-container 
{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.black-color-container 
{
    background-color: black;
}

.red-color-container 
{
    background-color: red;
}

.beige-color-container 
{
    background-color: beige;
}

.price h4 
{
    font-size: 32px;
    color: var(--section-text-color);
    margin-bottom: 20px;
}

/* buy button */
.buy-btn 
{
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}